body {
  margin: 0 auto;
  padding: 0;
  background-image: url("../img/cork-texture.jpg"); 
  background-size:cover;
  background-repeat: no-repeat;
  
}

.content {
  width:700px;
  margin-right: auto;
  margin-left:auto;
  box-sizing:border-box;
  text-align: center;
  background-color: #ECEB6F;
  box-shadow: 0 10px 15px 10px rgba(0,0,0,0.5);  
  height: 900px;
  background-image: linear-gradient(hsla(210, 50%, 30%, .5) 1px, transparent 1px);
  background-size: 100% 1.75em;
 

}

.sidelines {
  content:'';
  border-left: 1px solid red;
  border-right: 1px solid red;
  width: 2px;
  position:absolute;
  height: 900px;
  margin-left: 40px;

}

.add_bar {
  border-radius: 30px;
  border: 3px solid black;
  width: 500px;
  text-align: center;
  height: 30px;
  cursor:text;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  padding: 10px;
  
}

.submit_button, .reset_button {
  border: 3px solid black;
  border-radius: 20px;
  background-color: #ECEB6F;
  cursor: pointer;
  height: 40px;
  width: 120px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;

  
}

.submit_button:focus, .reset_button:focus, .add_bar:focus {
	outline: 0;
	box-shadow: none;
}


.list_title {
  font-family: "Permanent Marker", cursive;
  padding-top: 10px;
  font-size: 38px;
  line-height: 2;
 }

#list {
  font-size: 28px;
  font-family: 'Shadows Into Light',cursive;
  padding: 10px;
  height: auto;
  text-decoration: none;

 
}


.list_orig li {
  list-style: none;
  padding: 10px;
  cursor: row-resize;
  
}


 .list_orig li:hover {
  background-color: rgba(204, 204, 204, 0.3);
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}

.check {
	background-image: url('../img/blue-check-mark.png');
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	height: 25px;
	width: 20px;
	margin-top: 2px;
	position: absolute;
	margin-left: 180px;
	cursor: pointer;
	padding: 5px;
	
}

.check:hover {
	padding: 10px;
}

.ex {
	background-image: url("../img/red-x.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	position: absolute;
	margin-top: -35px;
	margin-right: 750px;
	cursor: pointer;
	right: 0;
	clear: both;
	
}

.ex:hover {
	padding: 8px;
}

.line-through {
	text-decoration: line-through;
}


